
@{
    ViewData["Title"] = "ThankYou";
}

<h1>Thank you for your order!</h1>
    
<h3>You can go back to the restaurants page, if you need to order anything else.</h3>
<a asp-controller="Home" asp-action="Index" class="btn btn-default" role="button">Back to Restaurants</a>

