
@{
    ViewData["Title"] = @Localizer["ThankYou"];
}

<h1>@Localizer["Thank you for your order!"]</h1>
    
<h3>@Localizer["You can go back to the restaurants page, if you need to order anything else."]</h3>
<a asp-controller="Home" asp-action="Index" class="btn btn-default" role="button">@Localizer["Back to Restaurants"]</a>

