@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
  ViewData["Title"] = Localizer["User settings"];
  <h2>@Localizer["User settings"]</h2>
  @await Html.PartialAsync("_SelectLanguageAndTimezonePartial")
}

