@using Microsoft.AspNetCore.Mvc.Localization
@model SearchRestaurantViewModel
@addTagHelper *, ReflectionIT.Mvc.Paging
@using ReflectionIT.Mvc.Paging
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["User settings"];
}
<h2>@ViewData["User settings"]</h2>
<h2>@Localizer["User settings"]</h2>

<div class="col-sm-6 text-right">
    @await Html.PartialAsync("../Shared/_SelectLanguagePartial.cshtml")
</div>