/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Positioning-Dani*/
.left {
    float: left;
}

.redinfo {
    color: red;
    text-align: right;
}

/* Google sign-in button - Gabor*/
.google-sign-in-button {
    display: contents;
}

#google-sign-in-button {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}

    #google-sign-in-button:hover {
        cursor: pointer;
    }

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card {
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px 0px;
}

.col-md-6 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 1px 4px 8px 0px;
}

.card-body {
    padding-left: 10px;
    padding-right: 5px;
}

.menu-button {
    padding-top: 10px;
    padding-bottom: 10px;
}
