
@model ReflectionIT.Mvc.Paging.PagingList<FoodService.Models.Restaurant>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
  ViewData["Title"] = "Restaurants";
}
<table>
  <tr>
    <th>Name</th>
    <th>FoodType</th>
    <th>Price Range</th>
  </tr>


  <tbody>
    @foreach (var restaurants in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelRestaurant => restaurants.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => restaurants.FoodType)
        </td>
        <td>
          @Html.DisplayFor(modelItem => restaurants.PriceCategory)
        </td>
      </tr>
    }
  </tbody>
</table>
<nav aria-label="Restaurants">
  <vc:pager paging-list="@Model" />
</nav>
