@{
    ViewData["Title"] = "Add Meal";
}

@model EditRestaurantViewModel

@{
    ViewData["Action"] = "Add";
    await Html.RenderPartialAsync("_MealPartial");
}

<a asp-controller="Restaurant" asp-action="Edit" asp-route-id="@Model.Restaurant.RestaurantId">Cancel</a>