@model AddMealRequest
@{
    ViewData["Title"] = "Edit Meal";
    ViewData["Action"] = "Edit";
    await Html.RenderPartialAsync("_MealPartial");
}

<a asp-controller="Restaurant" asp-action="Edit" asp-route-id="@Model.RestaurantId">Cancel</a>