@{
    ViewData["Title"] = "Edit Meal";
}

@model EditRestaurantViewModel

<h3>Edit selected meal </h3>
<p>Name: @Model.AddMealRequest.Name</p>
<p>Description: @Model.AddMealRequest.Description</p>
<p>Price: @Model.AddMealRequest.Price.Amount @Model.AddMealRequest.Price.Currency</p>
<br />

@{
    ViewData["Action"] = "Edit";
    await Html.RenderPartialAsync("_MealPartial");
}
