@model EditRestaurantViewModel

<form asp-controller="Meal" asp-action="@ViewData["Action"]" method="post">
    <div class="form-group">
        <label asp-for="AddMealRequest.Name" class="font-weight-bold"></label><br />
        <input asp-for="AddMealRequest.Name">
    </div>

    <div class="form-group">
        <label asp-for="AddMealRequest.Description" class="font-weight-bold"></label><br />
        <textarea asp-for="AddMealRequest.Description" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="AddMealRequest.Price.Amount" class="font-weight-bold"></label><br/>
        <input asp-for="AddMealRequest.Price.Amount">
    </div>

    <div class="form-group">
        <label asp-for="AddMealRequest.Price.Currency" class="font-weight-bold"></label><br/>
        <input asp-for="AddMealRequest.Price.Currency">
    </div>
    
    <div>
        <input type="hidden" asp-for="AddMealRequest.RestaurantId" value="@Model.AddMealRequest.RestaurantId">
    </div>

    <button type="submit" class="btn btn-success">Save</button>
</form>